.top {
  margin: 50px 0;
}
.leader-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin: 40px 0;
}
.leader {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 15px;
}
.leader h3:not(:last-child) {
  margin-right: -80px;
}
.hacker {
  gap: 10px;
}
.hacker img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.hackers-contact {
  background: rgb(62, 8, 80);
  background: linear-gradient(
    315deg,
    rgba(62, 8, 80, 1) 0%,
    rgba(109, 16, 140, 1) 100%
  );
  padding: 80px 0;
}
.hackers-contact .heading {
  color: white;
}
.security-expert {
  color: white;
}
.column1,
.column2,
.column3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.security-expert label {
  margin-left: 10px;
}
.security-expert input[type="text"],
input[type="email"] {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px inset #936da0;
}
.send-btn {
  width: 120px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 4px gray;
  margin-left: 250px;
}
.hack-for-good {
  margin: 100px 0;
}
.hackers-image {
  width: 50%;
  position: relative;
  object-fit: contain;
}
.hackers-image img {
  border-radius: 50%;
  box-shadow: 2px 2px 4px gray;
}
.photo0 {
  width: 70%;
  height: 380px;
}
.photo1 {
  position: absolute;
  left: 260px;
  top: 230px;
}
.photo2 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -15px;
  left: -10px;
}
.hackers-text {
  text-align: center;
}
