:root {
  --benefits-card-per-row: 4;
  --benefits-card-gap: 20px;
}
.animation video {
  height: 400px;
}
.hero-text {
  text-align: center;
}
.benefits {
  background-color: black;
  color: #8d1eb3;
  width: 100%;
  height: 150px;
}
.benefits-cards {
  padding: 24px;
}
.benefits-card {
  width: calc(
    100% / var(--benefits-card-per-row) -
      (
        var(--benefits-card-gap) - var(--benefits-card-gap) /
          var(--benefits-card-per-row)
      )
  );
  height: 100px;
  box-shadow: 2px 2px 10px inset #6d108c;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  position: relative;
  transition: 1s ease-in-out;
  transition-delay: 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.front-card {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transition: 1s ease-in-out;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  box-shadow: 2px 2px 10px inset #6d108c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.front-card i {
  font-size: 30px;
  box-shadow: 2px 2px 4px inset #fff;
  padding: 12px;
  border-radius: 50%;
}
.front-card h5 {
  color: white;
}
.back-card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(0.5turn);
  box-shadow: 2px 2px 10px inset #6d108c;
  border-radius: 15px;
}
.benefits-card:hover {
  transform: rotateY(0.5turn);
}
.for-hackers {
  margin: 70px 0;
}
