@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
.j-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 1140px;
  max-width: 95%;
  margin: 0 auto;
}
.logo-container {
  width: max-content;
  height: 70px;
  gap: 7px;
}
.logo-img {
  width: 50px;
}
.logo {
  font-family: "Nova Square", sans-serif;
  color: white;
}
