.contact-us {
  width: 100%;
  margin: 50px 0;
}
.contact-us-box {
  width: 55%;
  background: rgb(62, 8, 80);
  background: linear-gradient(
    315deg,
    rgba(62, 8, 80, 1) 0%,
    rgba(109, 16, 140, 1) 47%,
    rgba(255, 255, 255, 1) 99%
  );
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}
.contact-us-box .heading {
  color: white !important;
}
.contact-us-f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.contact-us-f input {
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: 2px 2px 4px inset #5b0977;
}
.contact-us-f textarea {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 15px;
  box-shadow: 2px 2px 4px inset #5b0977;
}
.contact-us-f .send-btn {
  width: 120px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  margin: 0 !important;
  transition: 0.3s;
  background-color: #5d2f6d;
  box-shadow: 2px 2px 4px inset white;
  color: white;
}
.send-btn:hover {
  background-color: white;
  box-shadow: 2px 2px 4px inset #936da0;
  color: #613a6e;
}
.contact-us-info {
  width: 40%;
  height: 80vh;
  position: relative;
}
.contact-us-info > div {
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  box-shadow: 2px 2px 6px inset white;
}
#phone {
  width: 180px;
  height: 180px;
  background-color: #b678ca;
  top: 50px;
  left: 180px;
  z-index: 6;
}
#phone i {
  font-size: 40px;
}
#phone p {
  font-size: 14px;
}
#mail {
  width: 250px;
  height: 250px;
  background-color: #88509b;
  bottom: 50px;
  right: 0;
  z-index: 5;
}
#mail i {
  font-size: 60px;
}
#location {
  width: 350px;
  height: 350px;
  background-color: #5c2d6b;
  top: 90px;
  left: -50px;
}
#location iframe {
  width: 320px;
  height: 320px;
  border: none;
  border-radius: 50%;
}
